@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.add{
    background-color: green;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 22px;
    position: fixed;
    top: 1.5rem;
    left: 3rem;
    cursor: pointer;
}



.nota{
    background-color: white;
    height: 400px;
    width: 400px;
    margin-top: 110px;
    margin-bottom: -20px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 30px;

}

.nota .icones{
    background-color: green;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

}

.nota .icones button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 10px;
    color: white;
    font-size: 26px;
}

.nota .main{
    background-color: white;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.nota textarea{
    height: 400px;
    font-size: 30px;
    width: 100%;
    border: none;
    outline: none;
    text-transform:inherit;
}

.nota .hidden{
    display: none;
}